/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

article {
  padding-top: 20px;
  text-align:justify;
}

.app-text {
  text-align: justify;
  letter-spacing:-1px;
}

.border-box {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

body {
  font-family: "Roboto mono", monospace;
}

.nav-item {
  list-style-type: none;
  display: inline-block;
}

a {
  text-decoration: none;
}

/* underline */
 .section .content .title .title_inner {
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  color: #141414;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  box-shadow: inset 0 -6px 0px #ede574;
  -moz-box-shadow: inset 0 -6px 0px #ede574;
  -webkit-box-shadow: inset 0 -6px 0px #ede574;
  -khtml-box-shadow: inset 0 -6px 0px #ede574;
} 

#holder {
  width: 100%;
}

.tt {
  display: none;
}

.ttt::after {
  content: "\0020";
  animation: pulse 2s 6;
  color: transparent;
  border-right: thick solid transparent;
  animation-delay: 1.5s;
  margin-left: 4px;
  transform: scale(1);
  animation-timing-function: ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    border-right: thick solid #f5e72d;
  }
  54% {
    border-right: transparent;
  }
  74% {
    transform: scale(1);
    border-right: thick solid #f5e72d;
  }
  80% {
    border-right: transparent;
  }
  90% {
    transform: scale(0.95);
    border-right: thick solid #f5e72d;
  }
}

#hello {
  color: rgb(116, 42, 190);
  font-size: 35px;
  font-weight: lighter;
}

#hola {
  color: #941ae0;
  font-size: 35px;
  font-weight: lighter;
}

#bonjour {
  color: #a626f5;
  font-size: 35px;
  font-weight: lighter;
}

#konnichiwa {
  color: #f0009c;
  font-size: 35px;
  font-weight: lighter;
}

.bio-text {
  color: #6e0e81;
  font-weight: 600;
}

.bio-text2 {
  text-align: left;
  letter-spacing: -0.02;
}

.bio {
  letter-spacing: -.5px;
}

.band {
  width: 95%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 15px;
  padding-top: 50px;
}

.band_bio {
  margin: 0 auto;
}

.card {
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.card_bio {
  background: white;
  text-decoration: none;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.card_bio .thumb {
  padding-bottom: 65%;
  background-size: cover;
  background-position: center top;
}

.card_bio .thumb-1 {
  padding-bottom: 65%;
  background-size: cover;
  background-position: center top;
}

.card .thumb {
  padding-bottom: 65%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}

.bio-pic {
  padding-bottom: 35%;
  background-size: contain;
  background-repeat: no-repeat;
}

.card .thumb-1 {
  padding-bottom: 62%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  border: 1px solid rgb(10, 6, 201);
}

.card .thumb-solar {
  padding-bottom: 62%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  border: 1px solid red;
}

.card .thumb-3 {
  padding-bottom: 62%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  border: 1px solid rgb(4, 110, 110);
}

.card .thumb-4 {
  padding-bottom: 62%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  border: 1px solid rgb(98, 7, 141);
}

.card .thumb-2 {
  padding-bottom: 63%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: whitesmoke;
}

.card .thumb-5 {
  padding-bottom: 63%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: whitesmoke;
  border: 1px solid rebeccapurple;
}

.card .thumb-book-review {
  padding-bottom: 62%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  border: 1px solid black;
}

.card article {
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card p {
  flex: 1; /* make p grow to fill available space*/
  line-height: 1.4;
}

.card span {
  font-size: 16px;
  font-weight: bold;
  color: #6e0e81;
  font-family: "Roboto mono", monospace;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 2em 0 0 0;
}

.card:hover {
  transition: all 0.1s ease-in;
  top: -2px;
  box-shadow: 0 4px 5px rgba(214, 76, 248, 0.294);
}

/* 
HIGHLIGHT LINK EFFECT
*/

.highlight {
  transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
}

.bio:any-link {
  color: blue;
}

.highlight:hover {
  background-image: linear-gradient(to right, #6E0E81 0%, #bd4ad4 100%);
  color: white;
}

/* 
MEDIA QUERIES 
*/

@media only screen and (min-width: 1000px) {
  .card_bio {
    grid-template-columns: 1fr;
    width: 70%;
  }

  .band_bio {
    padding-top: 40px;
  }

  .band {
    padding-top: 75px;
  }
  /* border theme  */
  #top,
  #bottom,
  #left,
  #right {
    background: #6e0e81;
    position: fixed;
  }
}

h1 {
  text-align: left;
  font-family: "Roboto mono", monospace;
  padding-top: 25px;
}

h2 {
  font-family: "Roboto mono", monospace;
}

.image {
  display: block;
  left: 0;
  top: 0;
  margin-top: 10px;
  float: left;
  width: 80px;
  height: 80px;
}

p {
  text-align: justify;
  word-spacing: -0.2rem;
}

.pic {
  border-radius: 10px;
}

.navbar ul li {
  display: inline-block; /* Arrange list items in horizontal line */
  list-style-type: none; /* We don't want bullets on our items */
  margin: 0;
  padding: 20px;
}

.navbar ul li a {
  color: solid black;
  text-decoration: none;
  padding: 12px;
}

#left,
#right {
  top: 0;
  bottom: 0;
  width: 15px;
}
#left {
  left: 0;
}
#right {
  right: 0;
}

#top,
#bottom {
  left: 0;
  right: 0;
  height: 15px;
}
#top {
  top: 0;
}
#bottom {
  bottom: 0;
}

.footer {
  flex-shrink: 0;
  padding-top: 120px;
  padding-bottom: 5px;
  text-align: center;
}

.p-footer {
  padding-bottom: 5px;
  text-align: center;
}

#iconify-inline-linkedin {
  padding-right: 95px;
}

#iconify-inline-twitter {
  padding-left: 95px;
}

@media only screen and (min-width: 1000px) {
  .band_bio {
    grid-template-columns: 1fr;
  }

  #iconify-inline-linkedin {
    padding-right: 105px;
  }

  #iconify-inline-twitter {
    padding-left: 105px;
  }
}

@media only screen and (min-width: 500px) {
  h1 {
    padding-top: 30px;
  }

  body {
    padding: 5px;
  }

  .band {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .band_bio {
    grid-template-columns: 1fr;
    width: 85%;
  }

  .footer {
    padding-bottom: 0px;
    padding-top: 115px;
  }
}

@media only screen and (max-width: 414px) {
  h1 {
    padding-top: 9px;
  }

  #hello,
  #hola,
  #bonjour,
  #konnichiwa {
    font-size: 24px;
  }

  .bio {
    word-spacing: -0.3rem;
    letter-spacing: -1px;
  }

  .band {
    padding-top: 50px;
    width: 100%;
  }

  #iconify-inline-linkedin {
    padding-right: 75px;
  }

  #iconify-inline-twitter {
    padding-left: 75px;
  }

  #iconify-inline-linkedin,
  #iconify-inline-gmail,
  #iconify-inline-twitter {
    font-size: 15px;
  }

  .footer {
    padding-top: 100px;
    font-size: 12px;
  }
}

@media only screen and (min-width: 1000px) {
  body {
    padding: 20px;
  }

  .band {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .band_bio {
    grid-template-columns: 1fr;
    width: 55%;
  }

  #iconify-inline-linkedin,
  #iconify-inline-gmail,
  #iconify-inline-twitter {
    font-size: 16.2px;
  }
}
